/* =============== */
/* SiteFonts.css */
/* this is the main fonts style sheet for the entire web site */
/* use if font files are local instead of google api downloaded */
@font-face {
	font-family: "Merriweather";
	src: url("../Fonts/Merriweather-Regular.ttf") format("truetype");
  }
@font-face {
	font-family: "Merriweather Black";
	src: url("../Fonts/Merriweather-Black.ttf") format("truetype");
  }
@font-face {
	font-family: "Roboto Slab";
	src: url("../Fonts/RobotoSlab-Regular.ttf") format("truetype");
  }
@font-face {
	font-family: "Roboto";
	src: url("../Fonts/Roboto-Regular.ttf") format("truetype");
  }
@font-face {
	font-family: "Rubik";
	src: url("../Fonts/Rubik-Regular.ttf") format("truetype");
  }
@font-face {
	font-family: "Rubik Medium";
	src: url("../Fonts/Rubik-Medium.ttf") format("truetype");
  }
@font-face {
	font-family: "Cabin Bold";
	src: url("../Fonts/CabinSemiBold.ttf") format("truetype");
  }
@font-face {
	font-family: "CantoraOne";
	src: url("../Fonts/CantoraOne-Regular.ttf") format("truetype");
  }
@font-face {
	font-family: "Noto Sans";
	src: url("../Fonts/NotoSans-Regular.ttf") format("truetype");
  }
@font-face {
	font-family: "Cutive Mono";
	src: url("../Fonts/CutiveMono-Regular.ttf") format("truetype");
  }
/*@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(https://fonts.googleapis.com/css?family=Akronim);
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');
@import url("https://fonts.googleapis.com/css?family=Audiowide|Monoton|Quantico:700");
@import "https://fonts.googleapis.com/css?family=Permanent+Marker";*/
